body {
    background-color: #010001;
    color: #ffffff;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}

.header {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.item_link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary_nav .item_link {
    color: #808080;
}

.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0;
}

.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    max-width: 268px;
    margin: auto;
}

.description:after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 26px;
}

.video {
    height: 750px;
    width: 90%;
    margin: auto;
    max-width: 1230px;
}

.features {
    min-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
    position: relative;
}

.features_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 200px;
}

.table_column {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
}

.features_text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

.rocket {
    width: 300px;
    position: absolute;
    top: 270px;
    right: 50px;
    z-index: 99;
}

.footer {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_nav .item_link {
    font-size: 18px;
    line-height: 21px;
}

.footer .logo {
    margin-bottom: 43px;
}

.footer_nav {
    margin-bottom: 28px;
}

.footer_text {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
    margin-bottom: 30px;
}

.footer_link {
    color: #808080;
    text-decoration: none;
}

.button {

    color: #ffffff;
    min-width: 260px;
    padding: 20px;
    text-align: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
}